[Unit]
Description=Fan Control Daemon
After=network.target syslog.target
Wants=syslog.target

[Service]
ExecStart=/usr/local/bin/fan_control
User=root
Group=root
Restart=on-failure
RestartSec=10s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target

